.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  color: white;
  background-color: #000;
  padding-top: 0.5em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-header {
  color: #EAA908;
  border-bottom: 4px solid whitesmoke;
}

.footer-header-link {
  color: white;
  text-decoration: none;
}

.footer-header-link:hover {
  color: #F034B4;
  text-decoration: none;
}

.footer-div-hr {
  border-bottom: 2px solid #F0B386;
}

.footer-container:hover {
  color: #F034B4;
  text-decoration: none;
}

.sing-up {
  /* background-image:url(../src/assets/images/hEX3bY8.jpg); */
  background-color: #040404;
  padding-top: 3px;
  padding-bottom: 10px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sign-up-h1 {
  padding: 3px;
  max-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #D18168;
}

.sign-up-button {
  padding: 3px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.sing-in {
  /* background-image:url(../src/assets/images/hEX3bY8.jpg); */
  background-color: #040404;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sign-in-h1 {
  padding: 3px;
  max-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #D18168;
}

.sign-in-button {
  padding: 3px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* .footer-header:hover {
  border-bottom: 4px solid whitesmoke;
  text-decoration: none;
  color: #219C93;
} */

/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */