/* For Header */
.Header {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
  
.HeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.HeaderLogo {
  color: #DC5757;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 28px;
  display: flex;
  align-items:center;
}

.HeaderLogo:hover {
  color: #9C21BA;
  text-decoration: none;
}

.HeaderNav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: end;
  margin-right: 2rem;
}

.HeaderItem {
  height: 80px;
} 

.HeaderLinks {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.1rem;
  height: 100%;
}

.HeaderLinks:hover {
  border-bottom: 4px solid whitesmoke;
  text-decoration: none;
  color: #219C93;
}

.HeaderMenu {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 28px;
  display: none;
  align-items: center;
}

.HeaderLinkss {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.1rem;
  height: 100%;
}

.HeaderLinkss:hover {
  border-bottom: 4px solid whitesmoke;
  text-decoration: none;
  color: #219C93;
}

.fa-bars {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .HeaderItem {
    position: relative;
  }

  .HeaderNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    margin:0%;
  }

  .HeaderNavActive {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-out;
    z-index: 1;
    
  }

  .HeaderLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .HeaderLinks:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .HeaderLogo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .HeaderMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .HeaderLinkss {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .HeaderLinkss:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

/* For Home */
video {
  object-fit:fill;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: -1;
}

.homeContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.homeContainer > h1 {
  color: #E5001C;
  font-size: 37px;
  margin-top: -40px;
  text-align: center;
}

.homeContainer > p {
  color: #fff;
  font-size: 40px;
  margin-top: -10px;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .homeContainer > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media only screen and (max-width: 768px) {
  .homeContainer > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
  
  .homeContainer > p {
    font-size: 30px;
  }
}

/* For Footer */
.footer {
  color: white;
  background-color: #000;
  padding-top: 0.5em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-header {
  color: #EAA908;
  border-bottom: 4px solid whitesmoke;
}

.footer-header-link {
  color: white;
  text-decoration: none;
}

.footer-header-link:hover {
  color: #F034B4;
  text-decoration: none;
}

.footer-container:hover {
  color: #F034B4;
  text-decoration: none;
}

.footer-div-hr {
  border-bottom: 2px solid #F0B386;
}


/* For Sing Up */
.sing-up {
  background-color: #040404;
  padding-top: 3px;
  padding-bottom: 10px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sign-up-h1 {
  padding: 3px;
  max-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #D18168;
}

.sign-up-button {
  padding: 3px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* For Sing In */
.sing-in {
  background-color: #040404;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sign-in-h1 {
  padding: 3px;
  max-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #D18168;
}

.sign-in-button {
  padding: 3px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
}


/* For Products */
.products {
  background-color: #040404;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.categories {
  background-color: #040404;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: auto;
}

.container-div-hr {
  border-bottom: 2px solid #F0B386;
}

.container-book-div-hr {
  border-bottom: 2px solid #8C5D00;
}

/* .footer-header:hover {
  border-bottom: 4px solid whitesmoke;
  text-decoration: none;
  color: #219C93;
} */